<section class="main-header">
  <%= image_tag 'achieve' %>
</section>
<section class="about">
  <h1>About Achieve</h1>
  <p>
    Rails入門課題2のためのの練習用アプリです。
  </p>
  <p>
    つぶやきを記録する機能を持ちます。
  </p>
</section>
