<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Achieve</title>
    <%= stylesheet_link_tag "normalize.css", :media => "all" %>
    <%= stylesheet_link_tag "common.css", :media => "all" %>
</head>
<body>
  <header>
    <ul class="left-header">
      <li><a href="#">TweetApp</a></li>
      <li><a href="#">HOME</a></li>
      <li><a href="#">つぶやき一覧</a></li>
      <li><a href="#">新規投稿</a></li>
    </ul>
    <ul class="right-header"></ul>
  <section class="main-header">
    <%= image_tag 'achieve' %>
  </section>
  <section class="about">
    <h1>About Achieve</h1>
    <p>
      Rails入門課題2のためのの練習用アプリです。
    </p>
    <p>
      つぶやきを記録する機能を持ちます。
    </p>
  </section>
  <footer>
    <p>Test Application</p>
  </footer>
</body>
</html>
